@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*:not(hr, ul) {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 20px;
}

/* --------------------- General CSS --------------------- */
body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(#1b2735 0%, #090a0f 100%);
  color: white;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 0 50px 0 32vw;
}

h1 {
  text-shadow: 5px 5px black;
  font-size: clamp(40px, 10vw, 150px);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: clamp(25px, 5vw, 90px);
  /* width: fit-content; */
  padding: 0 5px;
  margin-bottom: 50px;
  color: #75fa4c;
  text-align: center;
}

h3 {
  font-size: clamp(20px, 2vw, 80px);
}

p {
  font-size: clamp(14px, 4vw, 20px);
}

.section {
  padding: 5px;
  margin: 50vh 0;
}

/* --------------------- Title Name --------------------- */
#title-name {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --------------------- Portrait of me :) --------------------- */
#me {
  width: 30vw;
  background-size: cover;
  background-position: bottom;
}

.frozen-pos {
  position: absolute;
  left: 10%;
  bottom: 50%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}

.scroll-pos {
  position: fixed;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}

/* --------------------- Back Button --------------------- */
#back-btn {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  text-decoration: none;
  font-size: clamp(12px, 2vw, 20px);
  border: 2px solid #ffa500;
  padding: 5px 5px;
  border-radius: 0px 0px 15px 0px;
  -webkit-border-radius: 0px 0px 15px 0px;
  -moz-border-radius: 0px 0px 15px 0px;
  -ms-border-radius: 0px 0px 15px 0px;
  -o-border-radius: 0px 0px 15px 0px;
  color: inherit;
}
#back-btn:hover {
  background-color: #ffa500;
  cursor: pointer;
}

/* --------------------- CV Button --------------------- */
#cv-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  background: transparent;
  text-decoration: none;
  font-size: clamp(12px, 2vw, 20px);
  border: 2px solid #ffa500;
  padding: 5px 5px;
  border-radius: 0px 15px 0px 0px;
  -webkit-border-radius: 0px 15px 0px 0px;
  -moz-border-radius: 0px 15px 0px 0px;
  -ms-border-radius: 0px 15px 0px 0px;
  -o-border-radius: 0px 15px 0px 0px;
  color: inherit;
}
#cv-btn:hover {
  background-color: #ffa500;
  cursor: pointer;
}

/* --------------------- About Me --------------------- */
#about-me-section p {
  line-height: 50px;
}

/* --------------------- Skills --------------------- */
.skills-tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-tables .table-container {
  border: 6px solid gray;
  position: relative;
  text-align: center;
  height: 0;
  width: clamp(350px, 25vw, 900px);
  padding-bottom: clamp(350px, 25vw, 900px);
  padding-top: 5px ;
  padding-left: 10px;
  padding-right: 10px;
  margin: 70px 20px;
}

.skills-tables .table-container h3 {
  position: absolute;
  width: 100%;
  top: -50px;
}

.skills-tables .table-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-user-drag: none;
  cursor: pointer;
}

.unopened {
  animation: unopened 1s infinite;
  -webkit-animation: unopened 1s infinite;
}

.opened img {
  animation: opened 1s forwards;
  -webkit-animation: opened 1s forwards;
}

/* Actual HTML Table */
.skills-tables table {
  width: 100%;
  border-spacing: 10px 15px;
  table-layout: fixed;
}
.skills-tables .table-container tr td {
  font-size: clamp(7px, 2.5vw, 25px);
  width: max-content;
}
.skills-tables td {
  background-color: #48b128;
  padding: 2px 0px 2px 5px;
  text-align: start;
}

.skills-tables th {
  text-align: start;
}

/* --------------------- Professional Experience --------------------- */
#pro-exp-section .item {
  border: 1px solid white;
  padding: 10px;
  position: relative;
  min-height: 70px;
  margin-bottom: 20px;
  font-size: clamp(7px, 3vw, 25px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#pro-exp-section .item > div:first-of-type {
  flex: 0.7;
}
#pro-exp-section .item > div:last-of-type {
  margin-left: 20px;
  flex: 0.3;
}
#pro-exp-section img {
  height: 50px;
  float: left;
  margin-right: 10px;
}
#pro-exp-section .item span {
  color: #75fa4c;
}
#pro-exp-section .item a {
  color: white;
}
#pro-exp-section .item a:hover {
  color: #75fa4c;
}

/* --------------------- Animation --------------------- */

@keyframes unopened {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  45% {
    transform: translateY(-10px) rotateZ(2deg);
    -webkit-transform: translateY(-10px) rotateZ(2deg);
    -moz-transform: translateY(-10px) rotateZ(2deg);
    -ms-transform: translateY(-10px) rotateZ(2deg);
    -o-transform: translateY(-10px) rotateZ(2deg);
  }
  55% {
    transform: translateY(-10px) rotateZ(-2deg);
    -webkit-transform: translateY(-10px) rotateZ(-2deg);
    -moz-transform: translateY(-10px) rotateZ(-2deg);
    -ms-transform: translateY(-10px) rotateZ(-2deg);
    -o-transform: translateY(-10px) rotateZ(-2deg);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes opened {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}
